<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.luminous" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Luminous" >
        <activity
            android:name=".music_list"
            android:label="@string/title_activity_music_list"
            android:theme="@style/Theme.Luminous.NoActionBar" >
        </activity>
        <activity
            android:name=".lamp_color_optional"
            android:label="@string/title_activity_lamp_color_optional"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Luminous.NoActionBar" >
        </activity>
        <activity
            android:name=".MyPage"
            android:screenOrientation="portrait" >  //화면을 세로로 고정
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >  //화면을 세로로 고정
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>